NAW/TP4/xmlSchemaTests.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- edited with XMLSpy v2011 sp1 (http://www.altova.com) by Delepeleire (Université des Sciences et Technologies de Lille) -->
<!--W3C Schema generated by XMLSpy v2011 sp1 (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xs:complexType name="mesTests">
		<xs:sequence maxOccurs="unbounded">
			<xs:element ref="testDePersonnalite"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="mesTests" type="mesTests">
		<xs:unique name="TitreUnique">
			<xs:selector xpath="testDePersonnalite"/>
			<xs:field xpath="titre"/>
		</xs:unique>
	</xs:element>
	<xs:complexType name="testDePersonnalite">
		<xs:sequence>
			<xs:element ref="titre"/>
			<xs:element ref="accroche"/>
			<xs:element ref="questionnaire"/>
			<xs:element ref="interpretations"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="testDePersonnalite" type="testDePersonnalite">
		<xs:key name="PkInterpretations">
			<xs:selector xpath="interpretations/interpretation"/>
			<xs:field/>
		</xs:key>
		<xs:keyref refer="PkInterpretations">
			<xs:selector xpath="*/questions"/>
			<xs:field xpath="reponses"/>
		</xs:keyref>
	</xs:element>
	<xs:complexType name="titre" mixed="true"/>
	<xs:element name="titre" type="xs:string"/>
	<xs:complexType name="accroche" mixed="true"/>
	<xs:element name="accroche" type="xs:string"/>
	<xs:complexType name="questionnaire">
		<xs:sequence>
			<xs:element ref="questions" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="questionnaire" type="questionnaire"/>
	<xs:complexType name="questions">
		<xs:sequence>
			<xs:element ref="intituleQuestion"/>
			<xs:element ref="reponses" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:IDREF" use="required"/>
	</xs:complexType>
	<xs:element name="questions" type="questions"/>
	<xs:complexType name="interpretations"/>
	<xs:element name="interpretations">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="interpretations">
					<xs:sequence maxOccurs="unbounded">
						<xs:element ref="interpretation"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="intituleQuestion" mixed="true"/>
	<xs:element name="intituleQuestion" type="xs:string"/>
	<xs:complexType name="reponses" mixed="true">
		<xs:attribute name="id" type="xs:integer" use="required"/>
		<xs:attribute name="symboleIndicateur" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:element name="reponses" type="xs:string"/>
	<xs:complexType name="interpretation" mixed="true">
		<xs:attribute name="id" type="xs:anySimpleType" use="required"/>
	</xs:complexType>
	<xs:element name="interpretation" type="xs:string"/>
</xs:schema>
