XML/TPs/TP1_XML/Exercice3/Questionnaire.dtd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!ELEMENT questionnaires (questionnaire+)>
<!ELEMENT questionnaire (titre,description,questions)>

<!ELEMENT titre (#PCDATA)>

<!ELEMENT description(interpretation+)>
<!ELEMENT interpretation (#PCDATA)>
<!ATTLIST interpretation indicateur ID #REQUIRED>

<!ELEMENT questions (q+)>
<!ELEMENT q (enonce,proposition)> 

<!ELEMENT enonce (#PCDATA)>
<!ELEMENT propositions (reponse+)>

<!ELEMENT reponse (#PCDATA)>
<!ATTLIST reponse idref IDREFS #REQUIRED>
